@import '../fonts/PFEncoreSansPro-Bold/fonts.css';
@import '../fonts/PFEncoreSansPro-Regular/fonts.css';
@import '../fonts/PFEncoreSansPro-Light/fonts.css';

@import '../images/icons/style.css';


@import './common-style/style.scss';


.header {

    background-image: linear-gradient( rgba(24, 24, 24, 0.7) 100%, rgba(24, 24, 24, 0.7) 100%), url('../images/BG_Home.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

  &__container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top{
    display: flex;
    align-items: center;
    padding: 23px 160px 0 160px;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    font-family: 'PFEncoreSansPro-Bold';
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  &__logopolygon {
    font-size: 35.5px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 59px;
    height: 68px;
    background: red;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }

  &__list {
    display: flex;
  }

  &__link {
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 25px;
    transition: all 0.3s ease 0s;
    position: relative;
    a {
      transition: all 0.3s ease 0s;
      color: #ffffff;
      &:hover{
        color: #fc635e;
      }
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -7px;
      left: 0;
      right: 0;
      background-color: #fc635e;
      margin: 0 auto;
      display: none;
    }
    &:hover{
      &::after{
        display: initial;
      }
    }

  }

  &__title {
    font-family: 'PFEncoreSansPro-Bold';
    font-size: 51px;
    line-height: 0.71;
    color: #ffffff;
    margin-top: 192px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    p {
      span{
        color: #fc635e;
      }
    }


  }

  &__line {
    width: 107px;
    height: 8px;
    margin: 0 11px;
    opacity: 0.2;
    border: solid 8px #ffffff;
    background-color: #ffffff;
  }

  &__subtitle {
    margin-top: 27px;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.12px;
    text-align: center;
    color: #ffffff;
  }

  &__mouse {
    width: 73px;
    height: 0px;
    position: relative;
    img{
      position: absolute;
      top: -290px;
      right: -200px;
      // height: 100%;
    }
  }

  &__btnType1 {
    margin: 48px 0px 241px 0px;
  }

  &__btnDown {
    background: rgba(252, 99, 94, 0.97);
    color: white !important;
    &:hover{
      color: rgba(252, 99, 94, 0.97) !important;
      background: initial;
    }
  }
}

.receive {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'PFEncoreSansPro-Regular';
    margin: 63px 0px 32px 0px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.93;
    letter-spacing: -0.14px;
    text-align: center;
    color: #868686;
    text-transform: uppercase;
    p {
      span{
        color: #fc635e;
      }
    }
    position: relative;
    &::after{
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -12px;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      background-color: #adadad;
    }
  }

  &__subtitle {
    max-width: 508px;
    margin: 0px 0px 81px 0px;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.1px;
    text-align: center;
    color: #adadad;
  }

  &__cards {
    display: flex;
    margin-bottom: 51px;
  }

  &__card {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

  }

  &__polygon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 102px;
    height: 116px;
    background-color: #fe8682;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;

    &:hover{
      background: #fc635e;
      .receive__polygon-in{
        background-color: #ffffff;
      .icon {
        color:#fc635e;
      }
      }
    }
  }

  &__polygon-in {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 91px;
    height: 104px;
    background-color: #fc635e;
    .icon {
      content: "";
      width: auto;
      height: 40px;
      font-size: 40px;
      color: #ffffff;
    }
  }

  &__article {
    font-family: 'PFEncoreSansPro-Regular';
    font-weight: 600;
    margin: 21px 0px 33px 0px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.1px;
    text-align: center;
    color: #868686;
    text-transform: uppercase;
  }

  &__text {
    max-width: 205px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.08px;
    text-align: center;
    color: #adadad;
  }

  &__btnDown{
    &:hover{
      background: rgba(252, 99, 94, 0.97);
      color: white !important;
    }
  }
}

.expand {

    background-image: linear-gradient( rgba(24, 24, 24, 0.7) 100%, rgba(24, 24, 24, 0.7) 100%), url('../images/BG_Expand.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 240px;
  }

  &__border {
    border: solid 8px rgba(252, 252, 252, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 133px 140px 90px 140px;
    margin: 91px 0 53px 0;
  }

  &__title {
    font-family: 'PFEncoreSansPro-Bold';
    font-size: 51px;
    line-height: 0.35;
    text-align: center;
    color: #ffffff;
    margin: 0 0 62px;
    text-transform: uppercase;
    p {
      span{
        color: #fc635e;
      }
    }
  }

  &__btn {
    border: solid 3px #fc635e;
    width: 205px;
    height: 56px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btnDown {
    background: rgba(252, 99, 94, 0.97);
    color: white !important;
    &:hover{
      color: rgba(252, 99, 94, 0.97) !important;
      background: initial;
    }
  }
}

.process {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'PFEncoreSansPro-Regular';
    margin: 63px 0px 32px 0px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.93;
    letter-spacing: -0.14px;
    text-align: center;
    color: #868686;
    text-transform: uppercase;
    p {
      span{
        color: #fc635e;
      }
    }
    position: relative;
    &::after{
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -12px;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      background-color: #adadad;
    }
  }

  &__subtitle {
    max-width: 508px;
    margin: 0px 0px 81px 0px;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.1px;
    text-align: center;
    color: #adadad;
  }

  &__relative-cont {
    position: relative;
    height: 550px;
    margin-bottom: 36px;
  }

  &__lines {

    .line1 {
      position: absolute;
      width: 103px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:-400px;
      top: 114px;
      transform: rotate(-30deg) translate(0px, 50%);
    }
    .line2 {
      position: absolute;
      width: 106px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:-311px;
      top: 115px;
      transform: rotate(30deg) translate(0px, 50%);
    }
    .line3 {
      position: absolute;
      width: 6px;
      height: 108px;
      background: rgba(252, 99, 94, 0.97);
      left:-218px;
      top: 145px;
    }
    .line4 {
      position: absolute;
      width: 120px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:-225px;
      top: 268px;
      transform: rotate(30deg) translate(0px, 50%);
    }
    .line5 {
      position: absolute;
      width: 6px;
      height: 108px;
      background: rgba(252, 99, 94, 0.97);
      left:-130px;
      top: 197px;
    }
    .line6 {
      position: absolute;
      width: 103px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);

      left:-137px;
      top: 168px;
      transform: rotate(-30deg) translate(0px, 50%);
    }
    .line7 {
      position: absolute;
      width: 6px;
      height: 108px;
      background: rgba(252, 99, 94, 0.97);
      left:-44px;
      top: 46px;
    }
    .line8 {
      position: absolute;
      width: 105px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:-50px;
      top: 17px;
      transform: rotate(-30deg) translate(0px, 50%);
    }
    .line9{
      position: absolute;
      width: 107px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left: 40px;
      top: 17px;
      transform: rotate(30deg) translate(0px, 50%);
    }
    .line10 {
      position: absolute;
      width: 6px;
      height: 105px;
      background: rgba(252, 99, 94, 0.97);
      left: 135px;
      top: 46px;
    }
    .line11 {
      position: absolute;
      width: 149px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:127px;
      top: 103px;
      transform: rotate(-30deg) translate(0px, 50%);
    }
    .line12 {
      position: absolute;
      width: 157px;
      height: 6px;
      background: rgba(252, 99, 94, 0.97);
      left:256px;
      top: 104px;
      transform: rotate(30deg) translate(0px, 50%);
    }
    .line13 {
      position: absolute;
      width: 6px;
      height: 156px;
      background: rgba(252, 99, 94, 0.97);
      left: 398px;
      top: 146px;
    }
    .icon {
      position: absolute;
      width: 38px;
      height: 38px;
      border: solid 3px #fc635e;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      background: #fc635e;
      color: white;
      &:hover {
        color:#fc635e;
        background:white;
      }
      i {
        font-size: 20px;
        height: 21px;
        width: 20px;
      }
    }
    .icon1 {
      left:-410px;
      top: 124px;
    }
    .icon2 {
      left:-145px;
      top: 180px;
    }
    .icon3 {
      left:-60px;
      top: 30px;
    }
    .icon4 {
      left:120px;
      top: 125px;
    }
    .icon5 {
      left: 382px;
      top: 286px;
    }

  }

  &__step1 {
    position: absolute;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    top: 98px;
    left: -391px;
    width: 174px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adadad;
  }

  &__step2 {
    position: absolute;
    top: 150px;
    left: -125px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 174px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adadad;
  }

  &__step3 {
    position: absolute;
    left: -38px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 174px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adadad;
  }

  &__step4 {
    position: absolute;
    width: 262px;
    height: 302px;
    top: 75px;
    right: -398px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adadad;
  }


  &__step1-pol {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 172px;
    height: 199px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__step2-pol {
    position: relative;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 172px;
    height: 199px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__step3-pol {
    position: relative;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 172px;
    height: 199px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__step4-pol {
    position: relative;
    width: 260px;
    height: 300px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .process__text{
      max-width: 200px;
    }
  }


  &__article {
    font-size: 24px;
    font-family: 'PFEncoreSansPro-Regular';
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.08;
    text-align: center;
    color: #868686;
    margin-bottom: 20px;
    margin-top: 47px;
    position: relative;
    p {
      span{
        color: #fc635e;
        font-weight: 600;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 76px;
      height: 0.5px;
      background-color: #adadad;
    }
  }

  &__text {
    max-width: 130px;
    font-size: 15px;
    line-height: 1.13;
    letter-spacing: -0.08px;
    text-align: left;
    color: #9f9f9f;

  }

  &__img {
    position: absolute;
    bottom: 0;
    left: -348px;
  }

  &__btnDown {
    &:hover{
      background: rgba(252, 99, 94, 0.97);
      color: white !important;
    }
  }
}

.landing {
  background: #f2f2f2;


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 48px 0;
  }

  &__left {
    margin-right: 42px;
  }

  &__article {
    margin: 0px 0px 27px 24px;
    font-family: 'PFEncoreSansPro-Regular';
    font-size: 28px;
    font-weight: 600;
    color: #868686;
    position: relative;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 39px;
      top: -10px;
      left: -22px;
      background-color: #fc635e
    }
  }
  &__article_right {
    text-align: right;
    margin: 0px 24px 27px 0;
    &::before {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 39px;
      top: -10px;
      right: -22px;
      background-color: #fc635e
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.23px;
    text-align: left;
    color: #9e9898;
    max-width: 400px;
  }
  &__text_right{
    text-align: right;
  }

  &__btn {
    max-width: 167px;
    margin-top: 39px;
    padding: 14px 29px;
    background-color: #fc635e;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #f2f2f2;
    border: 2px solid #fc635e;
    &:hover{
      background: white;
      color: #fc635e;
    }
  }

  &__btn_port {
    max-width: 205px;
    padding: 14px 12px 14px 19px;
    margin-bottom: 25px;
  }

  &__btn_right {
    margin-left: auto;
  }


  &__btnDown {
    &:hover{
      background: rgba(252, 99, 94, 0.97);
      color: white !important;
    }
  }
}

.advertising {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  &__img {
    margin-right: 46px;
  }
}

.marketing {
  background: #f2f2f2;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.portfolio {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fc635e;
    text-transform: uppercase;
    max-width: 939px;
    width: 100%;
    position: relative;
    margin: 40px 0 67px 0;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      top: -20px;
      width: 100%;
      background-color: #adadad;
    }
    &::after {
      content: '';
      bottom: -20px;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #adadad;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    padding: 0 5px;
    border-radius: 4px;
    margin: 0 50px;
    &:hover {
      cursor:pointer;
      background: #fc635e;
      color: white;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  190px 190px;
    gap: 12px;
    max-width: 939px;
  }

  &__card {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &:nth-child(6) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: inherit;
      height: 190px;
      position: relative;
      transition: all 0.3s ease 0s;
      &:hover {
        &::before{
          left: 40%;
        }
        &::after{
          left: 0px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 70px;
        left: -150%;
        width: 50px;
        height: 50px;
        font-size: 50px;
        font-size: 20px;
        background-image: url('../images/icons/Plus.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        z-index: 1;
      }
      &::after {
        font-family: 'PFEncoreSansPro-Bold';
        position: absolute;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        color: white;
        background: rgba(252, 99, 94, 0.78);
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        padding: 20px 180px 0 10px;
        top: 0px;
        left: -150%;
      }
    }
  }

  .popup1-tallest {
    &::after {
      content: "The Tallest";
    }
  }
  .popup2-build {
    &::after {
      content: "Sportsale";
    }
  }
  .popup3-mountain {
    &::after {
      content: "Mountain";
    }
  }
  .popup4-aviasales {
    &::after {
      content: "Aviasales";
    }
  }
  .popup5-cars {
    &::after {
      content: "cars";
    }
  }
  .popup6-party {
    &::after {
      content: "the party";
    }
  }
}

.team {

  background:#f2f2f2;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards {
    display: flex;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 86px 60px 71px 60px;
  }

  &__name {
    font-size: 28px;
    font-weight: 500;
    line-height: 0.93;
    letter-spacing: -0.14px;
    text-align: center;
    font-family: 'PFEncoreSansPro-Regular';
    color: #565656;
    margin: 25px 0 18px 0;
    p {
      span{
        color: #fc635e;
      }
    }
  }

  &__prof {
    font-size: 20px;
    color: #565656;
  }

  &__social {
    display: flex;
    margin-top: 17px;
  }

  &__icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #fc635e;
    }
    i {
      color: white;
      font-size: 20px;
    }
  }
}

.slider {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__polygon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin-top: 56px;
    width: 74px;
    height: 86px;
    background-color: #fe8682;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__polygonIn {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 68px;
    height: 78px;
    background-color: #fc635e;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: white;
      font-size: 30px;
    }
  }

  &__shell {
    max-width: 950px;
    margin: 64px 0 242px 0;
    position: relative;
  }
  .slick-slider {

  .slick-list {
    overflow: hidden;
  }
  .slick-track{
    display: flex;
  }
  .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 31px;
    height: 31px;
    bottom: -82px;
  }
  .slick-next {
    z-index: 1;
    right: 430px;
    background: url('../images/icons/Arrow_next.svg') 0 0 no-repeat;
  }
  .slick-prev {
    left: 430px;
    z-index: 1;
    background: url('../images/icons/Arrow_prev.svg') 0 0 no-repeat;
  }

}

  &__card {
    width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__text {
    flex: 0 0 30%;
    max-width: 350px;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.08px;
    color: #767676;
  }

  img {
    flex: 0 0 10%;
    align-self: center;
    justify-self:center;
  }

  &__info {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }

  &__name {
    font-size: 28px;
    font-weight: 600;
    line-height: 0.93;
    letter-spacing: -0.14px;
    text-align: center;
    font-family: 'PFEncoreSansPro-Regular';
    color: #565656;
    margin-bottom: 18px;
    p {
      span{
        color: #fc635e;
      }
    }
  }

  &__prof {
    font-size: 20px;
    color: #565656;
  }

  &__address-shell {
    position: relative;
  }

  &__address {
    position: absolute;
    bottom: -120px;
    left: -103px;
    width: 209px;
    height: 242px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: #fe8682;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__addPolygon {
    width: 189px;
    height: 218px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: #fe8682;
    display: flex;
    background: #fc635e;
    flex-direction: column;
    align-items: center;
  }

  &__article {
    margin: 64px 48px 21px 44px;
    font-family: 'PFEncoreSansPro-Regular';
    font-size: 27px;
    font-weight: 500;
    line-height: 0.78;
    letter-spacing: -0.14px;
    text-align: right;
    color: #ffffff;
  }

  &__inAddress {
    padding: 0 5px;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.08px;
    text-align: left;
    color: #ffffff;
  }
}

.footer {
  background-image:  linear-gradient( rgba(24, 24, 24, 0.7) 100%, rgba(24, 24, 24, 0.7) 100%), url('../images/BG__footer.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__polygon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 78px;
    height: 90px;
    margin: 78px 0 83px 0;
    font-family: 'PFEncoreSansPro-Bold';
    font-size: 38.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(39, 17, 17, 1);
    background-color: rgba(252, 99, 94, 0.97);


  }

  &__title {
    font-family: 'PFEncoreSansPro-Bold';
    margin: 32px 0 28px 22px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.64;
    letter-spacing: -0.16px;
    text-align: center;
    color: #ffffff;
  }
}

.popup {
  position: fixed;
  background: rgba(5, 5, 5, 0.726);
  width: 100%;
  height: 100%;
  top: 0;
  left: -150%;
  z-index: 7;

  &:target {
    left: 0;
  }

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }

  &__container {
    overflow: hidden;
    max-width: 800px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 40px;
  }
  img {
    object-fit: cover;
  }
}

.popup_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



// Common elements and blocks


.btnType1 {
  padding: 20px 37px 18px 38px;
  border-radius: 7px;
  border: solid 2px #fc635e;
  color: #fc635e;
  font-size: 24px;
  font-family: 'PFEncoreSansPro-Light';
  transition: all 0.3s ease 0s;
  &:hover{
    background-color: #fc635e;
    color: white;
  }
}

.btnDown {
  width: 28px;
  height: 28px;
  margin-bottom: 15px;
  border: 1px solid rgba(252, 99, 94, 0.97);
  color: rgba(252, 99, 94, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

#area_fixed {
  position: fixed;
  top: 0;
  left: 0;
}


// Support Classes

.menu-burger{
  display: none;
}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}
._lock {
  overflow: hidden;
}


// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 120px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;

  }

  .header__list._active {
    left: 0px;
    .header__logo {
        position: fixed;
        left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }
  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }
 }



