<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
  </head>
  <body>

    <header class="header">
        <div class="container header__container">
            <div class="header__top">
              <div class="header__logo"><div class="header__logopolygon"><div>D</div></div> Daisy</div>
              <div class="header__list">
                <div class="header__link"> <a href="#">about</a> </div>
                <div class="header__link"><a href="#">portfolio</a></div>
                <div class="header__link"><a href="#">services</a></div>
                <div class="header__link"><a href="#">contact</a></div>
              </div>
              <div class="menu-burger"><span></span></div>
            </div>
            <div class="header__title">
              <div class="header__line"></div>
                <p> <span>Clients</span> in your business</p>
              <div class="header__line"></div>
            </div>
            <div class="header__subtitle">Your clients on the internet. Learn how to receive them.</div>
            <div class="btnType1 header__btnType1">I want clients</div>
            <div class="header__mouse"><img src="<%= require('../src/images/mouseHome.png')%>" alt="mouse"></div>
            <div class="btnDown header__btnDown"><div class="_icon-Arrow-down"></div></div>
        </div>
    </header>

    <section class="receive">
      <div class="container receive__container">
        <div class="receive__title"><p>What can <span>you receive?</span></p></div>
        <div class="receive__subtitle">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum </div>
        <div class="receive__cards">
          <div class="receive__card">
            <div class="receive__polygon">
              <div class="receive__polygon-in">
                <i class="_icon-What_01 icon"></i>
              </div>
            </div>
            <div class="receive__article">CLIENTS</div>
            <div class="receive__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</div>
          </div>
          <div class="receive__card">
            <div class="receive__polygon">
              <div class="receive__polygon-in">
                <i class="_icon-What_02 icon"></i>
              </div>
            </div>
            <div class="receive__article">branding</div>
            <div class="receive__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</div>
          </div>
          <div class="receive__card">
            <div class="receive__polygon">
              <div class="receive__polygon-in">
                <i class="_icon-What_03 icon"></i>
              </div>
            </div>
            <div class="receive__article">marketing</div>
            <div class="receive__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</div>
          </div>
          <div class="receive__card">
            <div class="receive__polygon">
              <div class="receive__polygon-in">
                <i class="_icon-What_04 icon"></i>
              </div>
            </div>
            <div class="receive__article">adv.</div>
            <div class="receive__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</div>
          </div>
        </div>
        <div class="btnDown receive__btnDown"><i class="_icon-Arrow-down"></i></div>
      </div>
    </section>

    <section class="expand">
      <div class="container expand__container">
        <div class="expand__border">
          <div class="expand__title"><p><span>Expand</span> your business</p></div>
          <div class="expand__btn btnType1">Join Us</div>
        </div>
        <div class="expand__btnDown btnDown"><i class="_icon-Arrow-down"></i></div>
      </div>
    </section>

    <section class="process">
      <div class="container process__container">
        <div class="process__title"><p>our <span>process</span></p></div>
        <div class="process__subtitle">Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum</div>
        <div class="process__relative-cont">
          <div class="process__lines">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
            <div class="line7"></div>
            <div class="line8"></div>
            <div class="line9"></div>
            <div class="line10"></div>
            <div class="line11"></div>
            <div class="line12"></div>
            <div class="line13"></div>
            <div class="icon icon1"><i class="_icon-Process_01"></i></div>
            <div class="icon icon2"><i class="_icon-Process_02"></i></div>
            <div class="icon icon3"><i class="_icon-Process_03"></i></div>
            <div class="icon icon4"><i class="_icon-Process_04"></i></div>
            <div class="icon icon5"><i class="_icon-What_01"></i></div>
          </div>
          <div class="process__step1">
            <div class="process__step1-pol">
              <div class="process__article"><p>Step <span>1</span></p></div>
              <div class="process__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</div>
            </div>
          </div>
          <div class="process__step2">
            <div class="process__step2-pol">
              <div class="process__article"><p>Step <span>2</span></p></div>
              <div class="process__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</div>
            </div>
          </div>
          <div class="process__step3">
            <div class="process__step3-pol">
              <div class="process__article"><p>Step <span>3</span></p></div>
              <div class="process__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida</div>
            </div>
          </div>
          <div class="process__step4">
            <div class="process__step4-pol">
              <div class="process__article"><p>Step <span>4</span></p></div>
              <div class="process__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</div>
            </div>
          </div>
          <img  class="process__img" src="<%= require('../src/images/ProcessPolygon.png')%>" alt="">
        </div>
        <div class="process__btnDown btnDown"><i class="_icon-Arrow-down"></i></div>
      </div>
    </section>


  </body>
</html>
